.gameover {
  background: url(../imagensFundo/gameover.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 600px;
}
.introducao-gameover {
  margin-bottom: 100px;
}
.introducao-gamerover p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  padding: 20px;
}
