/*Estilizando a página Silco*/
.pagine-heroi .container {
  width: 960px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pagina-heroi {
  background: #d4c391;
}
.pagina-heroi {
  background: url(img/herois/silco/silco-plano-de-fundo.jpg) no-repeat center;
  background: cover;
  height: 500px;
  width: 100%;
}
.descricao-silco p {
  font-size: 24px;
  color: #fff;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
