/*Estilizando a página Silco*/
.pagina-heroi {
  background: #ede0ce;
}
.container {
  width: 960px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pagina-heroi {
  background: url(img/herois/silco/silco-introducao-heroi.jpg) no-repeat center;
  background: cover;
  height: 600px;
  width: 100%;
}
.descricao-silco p {
  font-size: 16px;
  color: #111;
}
