/*
#C89B3C; - dourado
#0C0707 - azul claro
#FFFFFF - branco
#111111 - preto
#065A7F - azul
#D4C391 - titulo
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  width: 100%;
  height: 60px;
  background: #065a7f;
}
.header h1 {
  text-align: center;
  color: #d4c391;
  padding: 10px;
}
.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.introducao {
  background: url(img/arcane-introducao.jpg);
  background-size: cover;
  height: 630px;
  margin-top: 10px;
}
.introducao-texto p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
.introducao-texto p:last-child {
  margin-bottom: 30px;
}
.btn a {
  max-width: 260px;
  max-height: 60px;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  padding: 10px 30px;
  color: #fff;
  background-color: #065a7f;
  border: 1px solid #111;
}
.btn a:hover {
  color: #111;
  background: #d4c391;
  border-color: #fff;
}
