/* Cores que serão usadas no site
#C89B3C; - dourado
#0C0707 - azul claro
#FFFFFF - branco
#111111 - preto
#065A7F - azul
#D4C391 - titulo
*/
/*Estilos Gerais*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
}
/*Estilização header*/
.header {
  width: 100%;
  height: 60px;
  background: #065a7f;
}
.header h1 {
  text-align: center;
  color: #d4c391;
  padding: 10px;
}
/*Estilização introdução da página*/
.introducao {
  background: url(img/arcane-introducao.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 550px;
  margin-top: 10px;
}
.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.introducao-texto h2,
p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  padding: 20px;
  margin: 20px;
}
.introducao-texto p:last-child {
  margin-bottom: 30px;
}
/*Estilizando botão*/
.btn a {
  max-width: 300px;
  max-height: 80px;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  padding: 10px 30px;
  color: #fff;
  background-color: #065a7f;
  border: 1px solid #111;
}
.btn a:hover {
  color: #111;
  background: #d4c391;
  border-color: #fff;
}
/* Estilizando sobre */
.sobre-enacra {
  background: url(img/arcane-pink.jpg) no-repeat center;
  background-size: cover;
  height: 500px;
  width: 100%;
  margin-top: 10px;
}
.sobre-enacra .container {
  justify-content: space-between, center;
}
.sobre-enacra-texto h2 {
  max-width: 900px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  padding: 20px;
  margin: 20px;
}
.sobre-enacra-texto p {
  text-align: center;
  font-size: 18px;
}
/*Estilizando seção dos heróis*/
.herois {
  background: url(img/arcane-blue.jpg) no-repeat center;
  background-size: cover;
  height: 500px;
  width: 100%;
}
.herois h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  padding: 20px;
  margin: 10px;
}
.herois .container {
  justify-content: space-between;
}
.heroi:hover {
  border: 2px solid #d4c391;
}
/*Estilizando footer*/
.footer {
  width: 100%;
  height: 60px;
  background: #065a7f;
  margin: 10px 0 0 0;
}
.footer p {
  width: 960px;
  margin: 0 auto;
  color: #d4c391;
  font-size: 18px;
}
