/*Estilizando a página vi*/
.pagina-heroi {
  background: #ede0ce;
}
.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.vi-imagem {
  width: ;
  margin: 10px 0;
  border: 2px solid #111;
}
.descricao-vi p {
  font-size: 16px;
  color: #111;
}
