/*Estilizando a página vi*/
.pagina-heroi {
  background: url(img/herois/vi/vi-wallpaper.jpg) no-repeat center;
  background: cover;
  height: 700px;
  width: 100%;
}
.descricao-vi {
  width: 500px;
}
.descricao-vi span {
  font-size: 24px;
  color: white;
  text-align: right;
  margin: 50px;
  padding: 40px;
}
